e2/cmake-build-debug/CMakeFiles
e2/.idea/*
e2/.idea
.idea/
e2/asnFiles
asnFiles
CMakeCache.txt
CMakeFiles/
RIC-E2-TERMINATION/CMakeCache.txt
RIC-E2-TERMINATION/CMakeFiles/
RIC-E2-TERMINATION/cmake_install.cmake
RIC-E2-TERMINATION/x2ap_asn_files/
cmake-build-debug/
cmake-build-release/
cmake_install.cmake
e2.cbp
e2
setUpTest
subscriptionTest
RIC-E2-TERMINATION/asnFiles/e2sm-gNB-X2-release-1-v040.asn
e2smtest
libe2sm.a
e2/RIC-E2-TERMINATION/TEST/asn1c/*.o
RIC-E2-TERMINATION/TEST/asn1c/*.o
RIC-E2-TERMINATION/TEST/asn1c/libasncodec.a
/RIC-E2-TERMINATION/TEST/asn1c/libasncodec.a
/libasncodec.a
/libasn1codec.a
RIC-E2-TERMINATION/asnFiles/
RIC-E2-TERMINATION/tracelibcpp/
RIC-E2-TERMINATION/tracelibcpp/CMakeLists.txt
/RIC-E2-TERMINATION/tracelibcpp/CMakeLists.txt
RIC-E2-TERMINATION/nlohmann/
RIC-E2-TERMINATION/concurrentqueue/
/RIC-E2-TERMINATION/base64/
/RIC-E2-TERMINATION/3rdparty/cxxopts/
/RIC-E2-TERMINATION/3rdparty/cgreen_1.2.0_amd64.deb
/testConfigFile
/config/config.conf
/logTest
/b64Test
/T1
/e2Cov
/RIC-E2-TERMINATION/3rdparty/pistache/
/CMakeLists.txt.old
/cmake-modules/
/e2_coverage.base
/teste2
/RIC-E2-TERMINATION/3rdparty/log/
/RIC-E2-TERMINATION/3rdparty/rapidjson/
RIC-E2-TERMINATION/3rdparty/log/
RIC-E2-TERMINATION/3rdparty/rapidjson/
/RIC-E2-TERMINATION/3rdparty/int/
/RIC-E2-TERMINATION/3rdparty/int/autogen/licenses/codevbak.txt
!/RIC-E2-TERMINATION/3rdparty/log/3rdparty/googletest/
/libasn1ce2smcodec.a
