/.idea/*
.vscode/launch.json
*.o
*.a
E2Manager/3rdparty/asn1codec/e2ap_engine/converter-example
E2Manager/3rdparty/asn1codec/tests/
E2Manager/cp.out
Automation/Tests/**/*.xml
__pycache__/ 
*.html
*.log
# documentation
.tox
docs/_build/
/.gitreview
E2Manager/coverage.txt
E2Manager/e2m
